@font-face {
  font-family: 'QuicksandBold';
  src: url("../fonts/QuicksandBold.eot");
  src: url("../fonts/QuicksandBold.eot") format("embedded-opentype"), url("../fonts/QuicksandBold.woff2") format("woff2"), url("../fonts/QuicksandBold.woff") format("woff"), url("../fonts/QuicksandBold.ttf") format("truetype"), url("../fonts/QuicksandBold.svg#QuicksandBold") format("svg"); }
@font-face {
  font-family: 'SourceSansProBold';
  src: url("../fonts/SourceSansProBold.eot");
  src: url("../fonts/SourceSansProBold.eot") format("embedded-opentype"), url("../fonts/SourceSansProBold.woff2") format("woff2"), url("../fonts/SourceSansProBold.woff") format("woff"), url("../fonts/SourceSansProBold.ttf") format("truetype"), url("../fonts/SourceSansProBold.svg#SourceSansProBold") format("svg"); }
@font-face {
  font-family: 'SourceSansProSemiBold';
  src: url("../fonts/SourceSansProSemiBold.eot");
  src: url("../fonts/SourceSansProSemiBold.eot") format("embedded-opentype"), url("../fonts/SourceSansProSemiBold.woff2") format("woff2"), url("../fonts/SourceSansProSemiBold.woff") format("woff"), url("../fonts/SourceSansProSemiBold.ttf") format("truetype"), url("../fonts/SourceSansProSemiBold.svg#SourceSansProSemiBold") format("svg"); }
@font-face {
  font-family: 'SourceSansProRegular';
  src: url("../fonts/SourceSansProRegular.eot");
  src: url("../fonts/SourceSansProRegular.eot") format("embedded-opentype"), url("../fonts/SourceSansProRegular.woff2") format("woff2"), url("../fonts/SourceSansProRegular.woff") format("woff"), url("../fonts/SourceSansProRegular.ttf") format("truetype"), url("../fonts/SourceSansProRegular.svg#SourceSansProRegular") format("svg"); }
@font-face {
  font-family: 'MontserratLight';
  src: url("../fonts/MontserratLight.eot");
  src: url("../fonts/MontserratLight.eot") format("embedded-opentype"), url("../fonts/MontserratLight.woff2") format("woff2"), url("../fonts/MontserratLight.woff") format("woff"), url("../fonts/MontserratLight.ttf") format("truetype"), url("../fonts/MontserratLight.svg#MontserratLight") format("svg"); }
@font-face {
  font-family: 'MontserratMedium';
  src: url("../fonts/MontserratMedium.eot");
  src: url("../fonts/MontserratMedium.eot") format("embedded-opentype"), url("../fonts/MontserratMedium.woff2") format("woff2"), url("../fonts/MontserratMedium.woff") format("woff"), url("../fonts/MontserratMedium.ttf") format("truetype"), url("../fonts/MontserratMedium.svg#MontserratMedium") format("svg"); }
.container {
  max-width: 1200px;
  width: 100%; }

body {
  --color-text-fff: #fff;
  --color-blue: #008ed6;
  --color-text-000: #000;
  --color-btn: #e7cfa6;
  --modal-body-bg: #efebe5;
  --color-modal_rt_bg: #fff;
  transition: 0.3s; }

a {
  color: var(--color-text-fff); }
  a:hover {
    text-decoration: none;
    color: var(--color-text-fff); }
  a:focus {
    text-decoration: none; }

.modal {
  padding: 0 !important; }

.form-control {
  border: none;
  border-radius: 0; }

.btn-default {
  text-shadow: none; }

input {
  height: 31px !important; }
  @media screen and (max-width: 576px) {
    input {
      font-size: 12px !important; } }

.color_theme {
  background: rgba(5, 16, 31, 0.3);
  --color-text-fff: #1a6cb4;
  --color-blue: #b12d9f;
  --color-text-000: #46a8e4;
  --color-btn: #B12D9F;
  --modal-body-bg: radial-gradient(ellipse at center, rgba(62,0,128,1) 0%, rgba(0,0,0,1) 100%);
  --color-modal_rt_bg: transparent;
  transition: 0.3s; }
  .color_theme .top_head {
    background: url("../images/head_bg_rotate.png") #100e15 no-repeat center;
    background-size: cover;
    transition: 0.5s; }
  .color_theme .top_left_block .links a:hover {
    color: white !important; }
  .color_theme .top_right_block img {
    transform: rotateY(180deg);
    transition: 0.5s; }
  .color_theme input {
    background-color: #244461 !important;
    color: white; }
  .color_theme select {
    background-color: #244461;
    color: white; }
  .color_theme button {
    color: white; }

.top_head {
  background: url("../images/head_bg.png") #100e15 no-repeat center;
  background-size: cover;
  transition: 0.5s; }
  @media screen and (max-width: 767px) {
    .top_head .navbar .container .navbar-collapse {
      width: 100%;
      z-index: 2;
      position: absolute;
      background: rgba(16, 14, 21, 0.9);
      outline: none; } }
  .top_head .navbar .container .navbar-header {
    position: relative;
    margin-top: 42px; }
    @media screen and (max-width: 992px) {
      .top_head .navbar .container .navbar-header {
        margin-top: 20px; } }
    .top_head .navbar .container .navbar-header button {
      color: var(--color-text-fff);
      border-color: var(--color-text-fff);
      padding: 5px 10px; }
      @media screen and (max-width: 767px) {
        .top_head .navbar .container .navbar-header button {
          position: absolute;
          top: 0;
          left: 15px;
          margin: 0; } }
    .top_head .navbar .container .navbar-header .navbar-brand {
      font: 24px/24px 'QuicksandBold';
      outline: none;
      padding-top: 0;
      text-transform: uppercase;
      transition: 0.6s; }
      @media screen and (max-width: 767px) {
        .top_head .navbar .container .navbar-header .navbar-brand {
          width: 100%;
          text-align: right; } }
      .top_head .navbar .container .navbar-header .navbar-brand:hover {
        text-shadow: 3px 3px 3px var(--color-blue);
        transition: 0.6s; }
  .top_head .navbar .container ul {
    margin-top: 42px;
    padding: 0; }
    @media screen and (max-width: 992px) {
      .top_head .navbar .container ul {
        margin-top: 20px; } }
    .top_head .navbar .container ul li a {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      padding: 0;
      position: relative;
      margin-left: 22px;
      transition: 0.5s; }
      @media screen and (max-width: 992px) {
        .top_head .navbar .container ul li a {
          font-size: 14px; } }
      @media screen and (max-width: 767px) {
        .top_head .navbar .container ul li a {
          padding-bottom: 10px; } }
      .top_head .navbar .container ul li a:after {
        content: "";
        width: 20px;
        height: 2px;
        background-color: var(--color-blue);
        display: block;
        position: absolute;
        left: 22px;
        bottom: -13px;
        opacity: 0;
        transition: 0.5s; }
        @media screen and (max-width: 767px) {
          .top_head .navbar .container ul li a:after {
            bottom: 3px; } }
      .top_head .navbar .container ul li a:before {
        content: "";
        width: 20px;
        height: 2px;
        background-color: var(--color-blue);
        display: block;
        position: absolute;
        left: 0;
        bottom: -13px;
        opacity: 0;
        transition: 0.5s; }
        @media screen and (max-width: 767px) {
          .top_head .navbar .container ul li a:before {
            bottom: 3px; } }
      .top_head .navbar .container ul li a:hover {
        background: transparent; }
        .top_head .navbar .container ul li a:hover:after {
          opacity: 1;
          transition: 0.5s; }
        .top_head .navbar .container ul li a:hover:before {
          opacity: 1;
          transition: 0.3s; }
      .top_head .navbar .container ul li a:focus {
        background: transparent;
        transform: none;
        color: #fff; }
  @media screen and (min-width: 1200px) {
    .top_head .container .row .top_left_block {
      margin: 50px 0 100px;
      padding-right: 80px; } }
  @media screen and (max-width: 992px) {
    .top_head .container .row .top_left_block {
      margin-bottom: 30px; } }
  .top_head .container .row .top_left_block h4 {
    font: 14px/14px 'SourceSansProBold';
    color: var(--color-blue);
    text-transform: uppercase;
    margin: 0;
    transition: 0.5s; }
    @media screen and (max-width: 992px) {
      .top_head .container .row .top_left_block h4 {
        font-size: 12px;
        text-align: center; } }
  .top_head .container .row .top_left_block h1 {
    font: 48px/48px 'SourceSansProSemiBold';
    color: var(--color-text-fff);
    margin-bottom: 28px;
    transition: 0.5s; }
    @media screen and (max-width: 992px) {
      .top_head .container .row .top_left_block h1 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px; } }
    @media screen and (max-width: 767px) {
      .top_head .container .row .top_left_block h1 {
        margin: 10px auto 20px;
        text-align: center; } }
    @media screen and (max-width: 576px) {
      .top_head .container .row .top_left_block h1 {
        font-size: 27px;
        line-height: 35px; } }
  .top_head .container .row .top_left_block p {
    font: 18px/25px "SourceSansProRegular";
    color: #999999; }
    @media screen and (max-width: 992px) {
      .top_head .container .row .top_left_block p {
        font-size: 16px;
        line-height: 21px;
        text-align: justify; } }
    @media screen and (max-width: 576px) {
      .top_head .container .row .top_left_block p {
        font-size: 14px;
        line-height: 18px; } }
  .top_head .container .row .top_left_block .links {
    margin-top: 60px; }
    @media screen and (max-width: 992px) {
      .top_head .container .row .top_left_block .links {
        margin-top: 20px;
        text-align: center; } }
    .top_head .container .row .top_left_block .links a {
      display: inline-block;
      font: 14px/48px 'SourceSansProBold';
      text-align: center;
      color: var(--color-text-fff);
      text-transform: uppercase;
      border: solid 1px #454549;
      border-radius: 3px;
      width: 160px;
      transition: 0.3s; }
      @media screen and (max-width: 992px) {
        .top_head .container .row .top_left_block .links a {
          width: 120px;
          height: 35px;
          line-height: 33px;
          font-size: 12px; } }
      .top_head .container .row .top_left_block .links a:last-child {
        margin-left: 20px; }
      .top_head .container .row .top_left_block .links a:hover {
        transition: 0.3s;
        border: solid 1px transparent;
        background-color: var(--color-blue); }
  .top_head .container .row .top_right_block img {
    width: 100%;
    transition: 0.5s; }

#myModal .modal-dialog {
  max-width: 1170px;
  width: 100%; }
  @media screen and (max-width: 1100px) {
    #myModal .modal-dialog {
      width: 95%; } }
  #myModal .modal-dialog .modal-content .modal-body {
    background: var(--modal-body-bg);
    padding: 0; }
    #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left {
      background: url("../images/people_bg.png");
      background-size: contain;
      padding: 100px 74px; }
      @media screen and (max-width: 992px) {
        #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left {
          padding: 80px 20px; } }
      @media screen and (max-width: 767px) {
        #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left {
          padding: 30px 20px; } }
      #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form h5 {
        font: 12px 'MontserratMedium';
        color: var(--color-text-000);
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 600; }
        @media screen and (max-width: 767px) {
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form h5 {
            text-align: center; } }
        @media screen and (max-width: 576px) {
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form h5 {
            margin: 5px 0; } }
      #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form h6 {
        font: 12px 'MontserratMedium';
        color: var(--color-text-000);
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 900;
        margin-top: 30px;
        position: relative; }
        @media screen and (max-width: 992px) {
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form h6 {
            margin-top: 15px;
            margin-bottom: 23px; } }
        @media screen and (max-width: 767px) {
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form h6 {
            text-align: center; } }
        @media screen and (max-width: 576px) {
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form h6 {
            margin: 5px 0; } }
        #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form h6:after {
          content: "";
          border-bottom: solid 1px var(--color-text-000);
          width: 100px;
          display: block;
          margin-top: 30px; }
          @media screen and (max-width: 992px) {
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form h6:after {
              margin-top: 15px; } }
          @media screen and (max-width: 767px) {
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form h6:after {
              position: absolute;
              top: 25px;
              left: 0;
              right: 0;
              margin: auto; } }
      #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form .form-group {
        margin: 35px 0 0; }
        @media screen and (max-width: 992px) {
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form .form-group {
            margin-top: 15px; } }
        @media screen and (max-width: 576px) {
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form .form-group {
            margin-top: 5px; } }
        #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form .form-group label {
          font: 11px/11px 'MontserratLight';
          text-transform: uppercase;
          color: var(--color-text-000);
          margin-bottom: 10px; }
      #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form .row {
        margin-top: 48px; }
        @media screen and (max-width: 767px) {
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form .row {
            margin-top: 20px; } }
        #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form .row button {
          font: 12px 'MontserratMedium';
          font-weight: 600;
          text-transform: uppercase;
          width: 190px;
          height: 37px;
          border-radius: 20px;
          background: var(--color-btn) none;
          outline: none;
          border: none; }
          @media screen and (max-width: 992px) {
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form .row button {
              width: 150px; } }
        #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form .row a {
          color: var(--color-text-000);
          font: 10px/35px 'MontserratMedium';
          letter-spacing: 1.3px;
          text-transform: uppercase; }
          @media screen and (max-width: 857px) {
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form .row a {
              line-height: 15px; } }
          @media screen and (max-width: 767px) {
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form .row a {
              line-height: 35px; } }
          @media screen and (max-width: 359px) {
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form .row a {
              line-height: 15px; } }
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_left form .row a:hover {
            border-bottom: solid 1px var(--color-text-000); }
    #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right {
      padding: 100px 50px;
      background: var(--color-modal_rt_bg); }
      @media screen and (max-width: 992px) {
        #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right {
          padding: 80px 20px; } }
      @media screen and (max-width: 767px) {
        #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right {
          padding: 30px 20px; } }
      #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right h5 {
        font: 12px 'MontserratMedium';
        color: var(--color-text-000);
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-weight: 600; }
        @media screen and (max-width: 767px) {
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right h5 {
            text-align: center; } }
      #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul {
        border: none !important;
        margin-top: 30px; }
        @media screen and (max-width: 992px) {
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul {
            margin-top: 15px; } }
        @media screen and (max-width: 767px) {
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul {
            display: flex;
            justify-content: space-between; } }
        #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul li {
          position: relative;
          margin-right: 20px;
          width: 135px;
          border-top: none !important;
          text-align: center;
          transition: 0.3s; }
          @media screen and (max-width: 1100px) {
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul li {
              width: 110px;
              margin-right: 10px; } }
          @media screen and (max-width: 767px) {
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul li {
              width: 100px;
              margin: 0; } }
          @media screen and (max-width: 380px) {
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul li {
              width: 75px; } }
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul li:hover a {
            background-color: transparent; }
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul li:hover:after {
            border-color: var(--color-btn);
            transition: 0.3s; }
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul li:after {
            content: "";
            width: 100%;
            border-bottom: solid 3px #e5e5e5;
            display: block;
            position: absolute;
            bottom: 0;
            transition: 0.3s; }
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul li a {
            color: #e5e5e5;
            padding: 0;
            font: 12px/35px 'MontserratMedium';
            letter-spacing: 1.5px;
            text-transform: uppercase;
            border: none !important;
            border-radius: 0; }
            @media screen and (max-width: 767px) {
              #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul li a {
                font-size: 10px;
                letter-spacing: 1px; } }
            @media screen and (max-width: 390px) {
              #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul li a .tab_span {
                display: none; } }
        #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul .active {
          width: 110px;
          transition: 0.3s; }
          @media screen and (max-width: 380px) {
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul .active {
              width: 90px; } }
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul .active:after {
            display: none; }
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul .active a {
            background: var(--color-btn) !important;
            color: #fff;
            border: none !important; }
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right ul .active a:after {
              content: "";
              width: 15px;
              height: 15px;
              transform: rotate(45deg);
              background: var(--color-btn) none;
              display: block;
              position: absolute;
              left: 0;
              right: 0;
              bottom: -5px;
              margin: auto; }
      #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form {
        width: 100%;
        margin-top: 47px; }
        @media screen and (max-width: 992px) {
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form {
            margin-top: 20px; } }
        #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form .form-group {
          margin: 35px 0 0; }
          @media screen and (max-width: 992px) {
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form .form-group {
              margin-top: 15px; } }
          @media screen and (max-width: 576px) {
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form .form-group {
              margin-top: 10px; } }
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form .form-group label {
            font: 11px/11px 'MontserratLight';
            text-transform: uppercase;
            color: var(--color-text-000);
            margin-bottom: 10px;
            font-weight: 400; }
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form .form-group input {
            background-color: #f6f6f6; }
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form .form-group select {
            width: 100%;
            height: 31px;
            padding-left: 10px; }
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form .form-group .pswrd_danger {
            background-color: #fbf7f1; }
          #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form .form-group .credit_number {
            position: relative;
            margin-bottom: 30px; }
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form .form-group .credit_number:after {
              content: "";
              width: 200px;
              height: 50px;
              position: absolute;
              right: -250px;
              bottom: -30px;
              display: block;
              background: url("../images/payment.png") no-repeat;
              background-size: contain; }
              @media screen and (max-width: 400px) {
                #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form .form-group .credit_number:after {
                  right: -180px;
                  width: 150px; } }
        #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form .scnd-name {
          padding-top: 27px; }
        #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form .date_yy {
          padding-top: 27px; }
        #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form button {
          font: 12px 'MontserratMedium';
          font-weight: 600;
          text-transform: uppercase;
          width: 190px;
          height: 37px;
          margin-top: 48px;
          border-radius: 20px;
          background: var(--color-btn) none;
          outline: none;
          border: none; }
          @media screen and (max-width: 992px) {
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form button {
              width: 150px; } }
          @media screen and (max-width: 576px) {
            #myModal .modal-dialog .modal-content .modal-body .container .row .modal_right form button {
              width: 130px;
              margin: 20px auto; } }

/*# sourceMappingURL=style.css.map */
