@font-face {
  font-family: 'QuicksandBold';
  src: url('../fonts/QuicksandBold.eot');
  src: url('../fonts/QuicksandBold.eot') format('embedded-opentype'),
  url('../fonts/QuicksandBold.woff2') format('woff2'),
  url('../fonts/QuicksandBold.woff') format('woff'),
  url('../fonts/QuicksandBold.ttf') format('truetype'),
  url('../fonts/QuicksandBold.svg#QuicksandBold') format('svg');
}
@font-face {
  font-family: 'SourceSansProBold';
  src: url('../fonts/SourceSansProBold.eot');
  src: url('../fonts/SourceSansProBold.eot') format('embedded-opentype'),
  url('../fonts/SourceSansProBold.woff2') format('woff2'),
  url('../fonts/SourceSansProBold.woff') format('woff'),
  url('../fonts/SourceSansProBold.ttf') format('truetype'),
  url('../fonts/SourceSansProBold.svg#SourceSansProBold') format('svg');
}
@font-face {
  font-family: 'SourceSansProSemiBold';
  src: url('../fonts/SourceSansProSemiBold.eot');
  src: url('../fonts/SourceSansProSemiBold.eot') format('embedded-opentype'),
  url('../fonts/SourceSansProSemiBold.woff2') format('woff2'),
  url('../fonts/SourceSansProSemiBold.woff') format('woff'),
  url('../fonts/SourceSansProSemiBold.ttf') format('truetype'),
  url('../fonts/SourceSansProSemiBold.svg#SourceSansProSemiBold') format('svg');
}
@font-face {
  font-family: 'SourceSansProRegular';
  src: url('../fonts/SourceSansProRegular.eot');
  src: url('../fonts/SourceSansProRegular.eot') format('embedded-opentype'),
  url('../fonts/SourceSansProRegular.woff2') format('woff2'),
  url('../fonts/SourceSansProRegular.woff') format('woff'),
  url('../fonts/SourceSansProRegular.ttf') format('truetype'),
  url('../fonts/SourceSansProRegular.svg#SourceSansProRegular') format('svg');
}
@font-face {
  font-family: 'MontserratLight';
  src: url('../fonts/MontserratLight.eot');
  src: url('../fonts/MontserratLight.eot') format('embedded-opentype'),
  url('../fonts/MontserratLight.woff2') format('woff2'),
  url('../fonts/MontserratLight.woff') format('woff'),
  url('../fonts/MontserratLight.ttf') format('truetype'),
  url('../fonts/MontserratLight.svg#MontserratLight') format('svg');
}
@font-face {
  font-family: 'MontserratMedium';
  src: url('../fonts/MontserratMedium.eot');
  src: url('../fonts/MontserratMedium.eot') format('embedded-opentype'),
  url('../fonts/MontserratMedium.woff2') format('woff2'),
  url('../fonts/MontserratMedium.woff') format('woff'),
  url('../fonts/MontserratMedium.ttf') format('truetype'),
  url('../fonts/MontserratMedium.svg#MontserratMedium') format('svg');
}


@mixin max-screen($res){
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin min-screen($res){
  @media screen and (min-width: $res) {
    @content;
  }
}

.container{
  max-width: 1200px;
  width: 100%;
}

body{
  --color-text-fff: #fff;
  --color-blue: #008ed6;
  --color-text-000: #000;
  --color-btn: #e7cfa6;
  --modal-body-bg: #efebe5;
  --color-modal_rt_bg: #fff;
  transition: 0.3s;
}

a{
  color: var(--color-text-fff);
  &:hover{
    text-decoration: none;
    color: var(--color-text-fff);
  }
  &:focus{
    text-decoration: none;
  }
}

.modal{
  padding: 0!important;
}
.form-control{
  border: none;
  border-radius: 0;
}
.btn-default{
  text-shadow: none;
}

input{
  height: 31px!important;
  @include max-screen(576px){
    font-size: 12px!important;
  }
}

.color_theme {
  background: rgba(5, 16, 31, 0.3);
  --color-text-fff: #1a6cb4;
  --color-blue: #b12d9f;
  --color-text-000: #46a8e4;
  --color-btn: #B12D9F;
  --modal-body-bg: radial-gradient(ellipse at center, rgba(62,0,128,1) 0%, rgba(0,0,0,1) 100%);;
  --color-modal_rt_bg: transparent;
  transition: 0.3s;
  .top_head{
    background: url("../images/head_bg_rotate.png") #100e15 no-repeat center;
    background-size: cover;
    transition: 0.5s;
  }
  .top_left_block{
    .links{
      a{
        &:hover{
          color: white!important;
        }
      }
    }
  }
  .top_right_block{
    img{
      transform: rotateY(180deg);
      transition: 0.5s;
    }
  }
  input{
    background-color: #244461!important;
    color: white;
  }
  select{
    background-color: #244461;
    color: white;
  }
  button{
    color: white;
  }
}

.top_head{
  background: url("../images/head_bg.png") #100e15 no-repeat center ;
  background-size: cover;
  transition: 0.5s;
  .navbar{
    .container{
      .navbar-collapse{
        @include max-screen(767px){
          width: 100%;
          z-index: 2;
          position: absolute;
          background: rgba(16, 14, 21, 0.9);
          outline: none;
        }
      }
      .navbar-header{
        position: relative;
        margin-top: 42px;
        @include max-screen(992px){
          margin-top: 20px;
        }
        button{
          color: var(--color-text-fff);
          border-color: var(--color-text-fff);
          @include max-screen(767px){
            position: absolute;
            top: 0;
            left: 15px;
            margin: 0;
          }
        }
        .navbar-brand{
          font: 24px/24px 'QuicksandBold';
          outline: none;
          padding-top: 0;
          text-transform: uppercase;
          transition: 0.6s;
          @include max-screen(767px){
            width: 100%;
            text-align: right;
          }
          &:hover{
            text-shadow: 3px 3px 3px var(--color-blue);
            transition: 0.6s;

          }
        }
      }
      ul{
        margin-top: 42px;
        padding: 0;
        @include max-screen(992px){
          margin-top: 20px;
        }
        li{
          a{
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
            padding: 0;
            position: relative;
            margin-left: 22px;
            transition: 0.5s;
            @include max-screen(992px){
              font-size: 14px;
            }
            @include max-screen(767px){
              padding-bottom: 10px;
            }
            &:after{
              content: "";
              width: 20px;
              height: 2px;
              background-color: var(--color-blue);
              display: block;
              position: absolute;
              left: 22px;
              bottom: -13px;
              opacity: 0;
              transition: 0.5s;
              @include max-screen(767px){
                bottom: 3px;
              }
            }
            &:before{
              content: "";
              width: 20px;
              height: 2px;
              background-color: var(--color-blue);
              display: block;
              position: absolute;
              left: 0;
              bottom: -13px;
              opacity: 0;
              transition: 0.5s;
              @include max-screen(767px){
                bottom: 3px;
              }
            }
            &:hover{
              background: transparent;
              &:after{
                opacity: 1;
                transition: 0.5s;
              }
              &:before{
                opacity: 1;
                transition: 0.3s;
              }
            }
            &:focus{
              background: transparent;
              transform: none;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .container{
    .row{
      .top_left_block{
        @include min-screen(1200px){
          margin: 50px 0 100px;
          padding-right: 80px;
        }
        @include max-screen(992px){
          margin-bottom:30px;
        }
        h4{
          font: 14px/14px 'SourceSansProBold';
          color: var(--color-blue);
          text-transform: uppercase;
          margin: 0;
          transition: 0.5s;
          @include max-screen(992px){
            font-size: 12px;
            text-align: center;
          }
        }
        h1{
          font: 48px/48px 'SourceSansProSemiBold';
          color: var(--color-text-fff);
          margin-bottom: 28px;
          transition: 0.5s;
          @include max-screen(992px){
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 20px;
          }
          @include max-screen(767px){
            margin: 10px auto 20px;
            text-align: center;
          }
          @include max-screen(576px){
            font-size: 27px;
            line-height: 35px;
          }
        }
        p{
          font: 18px/25px'SourceSansProRegular';
          color: #999999;
          @include max-screen(992px){
            font-size: 16px;
            line-height: 21px;
            text-align: justify;
          }
          @include max-screen(576px){
            font-size: 14px;
            line-height: 18px;
          }
        }
        .links{
          margin-top: 60px;
          @include max-screen(992px){
            margin-top: 20px;
            text-align: center;
          }
          a{
            display: inline-block;
            font: 14px/48px 'SourceSansProBold';
            text-align: center;
            color: var(--color-text-fff);
            text-transform: uppercase;
            border: solid 1px #454549;
            border-radius: 3px;
            width: 160px;
            transition: 0.3s;
            @include max-screen(992px){
              width: 120px;
              height: 35px;
              line-height: 33px;
              font-size: 12px;
            }
            &:last-child{
              margin-left: 20px;
            }
            &:hover{
              transition: 0.3s;
              border: solid 1px transparent;
              background-color: var(--color-blue);
            }
          }
        }
      }
      .top_right_block{
        img{
          width: 100%;
          transition: 0.5s;
        }
      }
    }
  }
}


#myModal{
  .modal-dialog{
    max-width: 1170px;
    width: 100%;
    @include max-screen(1100px){
      width: 95%;
    }
    .modal-content{
      .modal-body{
        background: var(--modal-body-bg);
        padding: 0;
        .container{
          .row{
            .modal_left{
              background: url("../images/people_bg.png");
              background-size: contain;
              padding: 100px 74px;
              @include max-screen(992px){
                padding: 80px 20px;
              }
              @include max-screen(767px){
                padding: 30px 20px;
              }
              form{
                h5{
                  font: 12px 'MontserratMedium';
                  color: var(--color-text-000);
                  text-transform: uppercase;
                  letter-spacing: 1.5px;
                  font-weight: 600;
                  @include max-screen(767px){
                    text-align: center;
                  }
                  @include max-screen(576px){
                    margin: 5px 0;
                  }
                }
                h6{
                  font: 12px 'MontserratMedium';
                  color: var(--color-text-000);
                  text-transform: uppercase;
                  letter-spacing: 1.5px;
                  font-weight: 900;
                  margin-top: 30px;
                  position: relative;
                  @include max-screen(992px){
                    margin-top: 15px;
                    margin-bottom: 23px;
                  }
                  @include max-screen(767px){
                    text-align: center;
                  }
                  @include max-screen(576px){
                    margin: 5px 0;
                  }

                  &:after{
                    content: "";
                    border-bottom: solid 1px var(--color-text-000) ;
                    width: 100px;
                    display: block;
                    margin-top: 30px;
                    @include max-screen(992px){
                      margin-top: 15px;
                    }
                    @include max-screen(767px){
                      position: absolute;
                      top: 25px;
                      left: 0;
                      right: 0;
                      margin: auto;
                    }
                  }
                }
                .form-group{
                  margin: 35px 0 0;
                  @include max-screen(992px){
                    margin-top: 15px;
                  }
                  @include max-screen(576px){
                    margin-top: 5px;
                  }
                  label{
                    font: 11px/11px 'MontserratLight';
                    text-transform: uppercase;
                    color: var(--color-text-000);
                    margin-bottom: 10px;
                  }
                }
                .row{
                  margin-top: 48px;
                  @include max-screen(767px){
                    margin-top: 20px;
                  }
                  button{
                    font: 12px 'MontserratMedium';
                    font-weight: 600;
                    text-transform: uppercase;
                    width: 190px;
                    height: 37px;
                    border-radius: 20px;
                    background: var(--color-btn) none;
                    outline: none;
                    border: none;
                    @include max-screen(992px){
                      width: 150px;
                    }
                  }
                  a{
                    color: var(--color-text-000);
                    font: 10px/35px 'MontserratMedium';
                    letter-spacing: 1.3px;
                    text-transform: uppercase;
                    @include max-screen(857px){
                      line-height: 15px;
                    }
                    @include max-screen(767px){
                      line-height: 35px;
                    }
                    @include max-screen(359px){
                      line-height: 15px;
                    }
                    &:hover{
                      border-bottom: solid 1px var(--color-text-000);
                    }
                  }
                }
              }
            }
            .modal_right{
              padding: 100px 50px;
              background: var(--color-modal_rt_bg);
              @include max-screen(992px){
                padding: 80px 20px;
              }
              @include max-screen(767px){
                padding: 30px 20px;
              }
              h5{
                font: 12px 'MontserratMedium';
                color: var(--color-text-000);
                text-transform: uppercase;
                letter-spacing: 1.5px;
                font-weight: 600;
                @include max-screen(767px){
                  text-align: center;
                }
              }
              ul{
                border: none!important;
                margin-top: 30px;
                @include max-screen(992px){
                  margin-top: 15px;
                }
                @include max-screen(767px){
                  display: flex;
                  justify-content: space-between;
                }
                li{
                  position: relative;
                  margin-right: 20px;
                  width: 135px;
                  border-top: none!important;
                  text-align: center;
                  transition: 0.3s;
                  @include max-screen(1100px){
                    width: 110px;
                    margin-right: 10px;
                  }
                  @include max-screen(767px){
                    width: 100px;
                    margin: 0;
                  }
                  @include max-screen(380px){
                    width: 75px;
                  }
                  &:hover{
                    a{
                      background-color: transparent;
                    }
                    &:after{
                      border-color: var(--color-btn);
                      transition: 0.3s;
                    }
                  }
                  &:after{
                    content: "";
                    width: 100%;
                    border-bottom: solid 3px #e5e5e5;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    transition: 0.3s;
                  }
                  a{
                    color: #e5e5e5;
                    padding: 0;
                    font: 12px/35px 'MontserratMedium';
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    border: none!important;
                    border-radius: 0;
                    @include max-screen(767px){
                      font-size: 10px;
                      letter-spacing: 1px;
                    }
                    @include max-screen(390px){
                      .tab_span{
                        display: none;
                      }
                    }
                  }
                }
                .active{
                  width: 110px;
                  transition: 0.3s;
                  @include max-screen(380px){
                    width: 90px;
                  }
                  &:after{
                    display: none;
                  }
                  a{
                    background: var(--color-btn)!important;
                    color: #fff;
                    border: none!important;
                    &:after{
                      content: "";
                      width: 15px;
                      height: 15px;
                      transform: rotate(45deg);
                      background: var(--color-btn) none;
                      display: block;
                      position: absolute;
                      left: 0;
                      right: 0;
                      bottom: -5px;
                      margin: auto;
                    }
                  }
                }
              }
              form{
                width: 100%;
                margin-top: 47px;
                @include max-screen(992px){
                  margin-top: 20px;
                }
                .form-group{
                  margin: 35px 0 0;
                  @include max-screen(992px){
                    margin-top: 15px;
                  }
                  @include max-screen(576px){
                    margin-top: 10px;
                  }
                  label{
                    font: 11px/11px 'MontserratLight';
                    text-transform: uppercase;
                    color: var(--color-text-000);
                    margin-bottom: 10px;
                    font-weight: 400;
                  }
                  input{
                    background-color: #f6f6f6;
                  }
                  select{
                    width: 100%;
                    height: 31px;
                    padding-left: 10px;
                  }
                  .pswrd_danger{
                    background-color: #fbf7f1;
                  }
                  .credit_number{
                    position: relative;
                    margin-bottom: 30px;
                    &:after{
                      content: "";
                      width: 200px;
                      height: 50px;
                      position: absolute;
                      right: -250px;
                      bottom: -30px;
                      display: block;
                      background: url("../images/payment.png") no-repeat;
                      background-size: contain;
                      @include max-screen(400px){
                        right: -180px;
                        width: 150px;
                      }
                    }
                  }
                }
                .scnd-name{
                  padding-top: 27px;
                }
                .date_yy{
                  padding-top: 27px;
                }
                button{
                  font: 12px 'MontserratMedium';
                  font-weight: 600;
                  text-transform: uppercase;
                  width: 190px;
                  height: 37px;
                  margin-top: 48px;
                  border-radius: 20px;
                  background: var(--color-btn) none;
                  outline: none;
                  border: none;
                  @include max-screen(992px){
                    width: 150px;
                  }
                  @include max-screen(576px){
                    width: 130px;
                    margin: 20px auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

